.card {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  background-color: #34adc5;
  padding: 30px 5px 15px 5px;

  &__name {
    font-family: 'GetSwifty';
    font-size: 1.1em;
    color: black;
    -webkit-text-stroke: 0.3px #7fc551;
    margin-top: 20px;
  }
  &__img {
    width: 80%;
    margin: auto;
    border: solid 5px rgba(245, 245, 245, 0.925);
    border-radius: 5px;
    box-shadow: 0px 3px 3px 2px #164743;
  }
  &__specie {
    padding-bottom: 15px;
    font-family: 'GetSwifty';
    color: whitesmoke;
    margin-top: 5px;
  }
}
.card:hover {
  box-shadow: 1px 10px 18px 7px #7fc551;
}
