.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.1fr));
  grid-template-rows: 1.5fr 1.5fr;
  grid-gap: 40px;
  gap: 40px;
  margin-left: 13%;
  padding-bottom: 150px;
}
