.form {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  flex-wrap: wrap;

  &__label-specie {
    margin-left: 15px;
    font-size: 17px;
    -webkit-text-stroke: 1px #164743;
    color: #35afc7;
    text-shadow: 1px 5px 2px #7fc551;
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__label-name {
    font-size: 17px;
    -webkit-text-stroke: 1px #164743;
    color: #35afc7;
    text-shadow: 1px 5px 2px #7fc551;
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__input-text {
    border: none;
    background-color: #7fc551b4;
  }
}
